<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SUSEL - Static Page</title>
    </head>
    <body>
        <h1>Welcome to SUSEL</h1>
        <p>This is a static page for the SUSEL project.</p>
        <h2>Functioning Routes:</h2>
            <h3>General Routes</h3>
            <ul>
                <li><strong>GET /</strong> - Test route</li>
            </ul>
            <h3>Auth Routes</h3>
            <ul>
                <li><strong>POST auth/register</strong> - Creates a new user</li>
            </ul>
            <h3>User Routes</h3>
            <ul>
                <li><strong>GET /u/:uid/process</strong> - Get all active processes</li>
                <li><strong>GET /u/:uid/process/:pid</strong> - Get active process info by ID for user</li>
                <li><strong>GET /u/:uid/config</strong> - Get user information</li>
                <li><strong>POST /u/:uid/process/:pid/submit</strong> - Signs a User to Process</li>
            </ul>
            <h3>Admin Routes</h3>
            <ul>
                <li><strong>GET /admin</strong> - Get all processes (admin)</li>
                <li><strong>GET /admin/process/:id</strong> - Get process by ID (admin)</li>
                <li><strong>POST /admin/new-process</strong> - Creates a new process</li>
            </ul>
        <p>Check backend routes files for more details at 
            <a href="https://github.com/lemont037/SUSEL/tree/dev/backend/src/routes">Github</a>.
        </p>
    </body>
</html>