.button {
  width: 100%; /* Faz o botão ocupar a largura toda do seu container */
  padding: 12px 20px;
  border-radius: 8px; /* Bordas arredondadas */
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efeito suave na troca de cor */
  margin-top: 10px; /* Espaçamento entre os botões */
}

/* Variante Primária (Texto branco com background azul escuro) */
.primary {
  background-color: var(--azul-primario); /* Tom de roxo/azul escuro */
  color: var(--branco-primario);
}

.primary:hover {
  background-color: var(--azul-primario-hover); 
  color: var(--azul-primario); 
  border: 2px solid var(--azul-primario); 
}

/* Variante Secundária (Borda e texto azul escuro e background vazado) */
.secondary {
  background-color: transparent;
  color: var(--azul-primario);
  border: 2px solid var(--azul-primario);
}

.secondary:hover {
  background-color: var(--azul-primario-hover); 
  color: var(--azul-primario); 
}

.danger {
  background-color: #ef4444; /* Vermelho */
  color: white;
  border: 2px solid #ef4444;
}
.danger:hover {
  background-color: #dc2626; /* Vermelho mais escuro */
}