.header { display: flex; justify-content: space-between; align-items: center; background-color: #1e194d; color: white; padding: 1rem 2rem; }
.header h1 { font-size: 1.5rem; cursor: pointer; color: white; text-decoration: none;}
.userProfileIcon { width: 40px; height: 40px; border-radius: 50%; background-color: #eef2ff; }