.loginPageContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff; 
}

.formSide {
  flex: 1; /* Ocupa metade da tela */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loginTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--azul-primario);
  margin-bottom: 2rem; 
}

.infoSide {
  flex: 1; /* Ocupa a outra metade */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--azul-primario); 
  color: white;
  padding: 2rem; /* Adiciona um respiro nas laterais */
  text-align: center;
}

.infoSide h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.infoSide p {
  font-size: 1.25rem;
  max-width: 400px;
}

.forgotPasswordLink {
  width: 100%;             
  text-align: right;       
  margin-bottom: 1.5rem;   
}

.forgotPasswordLink a {
  font-size: 0.9rem;       
  color: #374151;         
  text-decoration: none;   /* Remove o sublinhado padrão */
}

.forgotPasswordLink a:hover {
  text-decoration: underline; /* Adiciona o sublinhado de volta ao passar o mouse */
}

.registerPrompt {
  margin-top: 4rem; 
  font-size: 0.9rem; 
  color: #374151; 
  text-align: center;
  text-decoration: underline;
}