.layoutContainerStyle {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
}

.mainContentStyle {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: white;
  max-width: 900px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pageTitleStyle {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--azul-primario);
  text-align: center;
}

.sectionTitleStyle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--azul-primario);
}

.detailItemStyle {
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--foreground);
}

.blueBoxStyle {
  background-color: var(--azul-secundario);
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.blueBoxTextStyle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--azul-primario);
}

.blueBoxSmallTextStyle {
  font-size: 17px;
  margin-bottom: 3px;
}

.buttonRowStyle {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: #12B76A;
}

.errorBox {
  background-color: #fee2e2;
  color: #b91c1c;
  border: 1px solid #fecaca;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.successBox {
  background-color: #dcfce7; /* Verde claro */
  color: #166534; /* Verde escuro para o texto */
  border: 1px solid #bbf7d0;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-align: center;
}